body { 

    font-family: Arial, sans-serif; 

    color: #f4e9e9; 

    background-color: #08d1cee3; 

    margin: 0; 

    padding: 0; 

    line-height: 1.6; 

} 
header { 

    background-color: #f0f0ebd7; 

    color: rgba(8, 10, 4, 0.93); 

    padding: 20px; 

    text-align: center; 

} 
header h1 { 

    margin: 0; 

} 

p,h1 {
    color: red;
}


nav a { 

    color: white; 

    text-decoration: none; 

    margin: 0 10px; 

} 

 

nav a:hover { 

    text-decoration: underline; 

} 
main { 

    padding: 20px; 

    max-width: 800px; 

    margin: 0 auto; 

} 

 

main img { 

    max-width: 100%; 

    height: auto; 

    display: block; 

    margin: 20px 0; 

} 
footer { 

    background-color: #092789; 

    color: white; 

    text-align: center; 

    padding: 10px; 

    position: fixed; 

    bottom: 0; 

    width: 100%; 

} 
p { 

    font-size: 1.1em; 

} 

 

a { 

    color: #4CAF50; 

    text-decoration: none; 

} 

 

a:hover { 

    text-decoration: underline; 

} 
img { 

    border: 5px solid #139ad8; 

    border-radius: 10px; 

} 
main a[href^="mailto:"] { 

    color: #f6f1efe2; 

    font-weight: bold; 

} 
body{
    background-image:url('https://www.travelandleisure.com/thmb/ybgH3tLcB_dxBDf4OTJr3BFddWE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-sunset-afrian-landscape-ALISTBJORN1125-ba67aaeeb47e4f62a7c724b7a090d5ea.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
}